// Type
$blue: #1dafec;
$grey: #606060;
$light-grey: #999;
$landing-grey: #f2f2f2;
$actions-grey: #a0a0a0;
$white: #fff;
$placeholder-color: #888;
$red: #f23d5b;
$alert-text: #ee5d4a;
$error-text: #e88e8e;

// Backgrounds
$border-grey: #bcbec0;
$background-grey: #f2f2f2;
$textbox-border: #ccc;
$green: #84c241;
$light-green: #e6f3d9;
$inset-shadow: #bcbec0;
$light-red: #f5aca4;
$error-border: #900;
$orange-red: #f15c4a;

// Banners
$banner-blue: #cceffc;

// font
$base-font: 'Oswald', sans-serif;


// header/sidebar grid
$width: 96%;
$gutter: 4%;
$sidebar-width: 270px;

// header/sidebar padding
$padding-screen-small: 1%;
$padding-screen-large: 1.5% 3%;
